<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram Scraper | 404</title>

  <link rel ="stylesheet" href= "/files/assets/css/bootstrap.min.css" />
</head>
<body style="display: flex; align-items: center; justify-content: center; height: 100vh;">
  <div>
    <h1>404 - Profile not found</h1>
    <a href="/">Voltar</a>
  </div>

</body>
</html>